@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

body {
    font-family: "Akshar", "Segoe-UI", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid #999;
}

.brand {
    font-size: 1.5rem;
    padding: 0 !important;
}

nav {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    padding: .5rem;
    cursor: pointer;
}

.register {
    background-color: #41b3a3;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

.nav-link:hover {
    border-bottom-color: black;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FA4D56' d='M64.7 -16C73.1 4.9 61.8 37.2 42 49.7C22.2 62.2 -6.2 54.9 -24.9 40C-43.6 25.1 -52.5 2.5 -46.8 -14.7C-41 -32 -20.5 -44 3.8 -45.2C28.1 -46.5 56.2 -36.9 64.7 -16Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
}

.main-page, .my-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-text {
    font-size: 3.2rem;
    padding: 2rem 0;
}

.input-row {
    display: flex;
    min-width: 70vw;
}

.input-row>input {
    padding: .4rem;
    font-size: 1.4rem;
    font-family: "Akshar", "Segoe UI", sans-serif;
    outline: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: 1px solid black;
    border-right: 0px;
    width: 100%;
}

.input-row>button {
    border: 1px solid black;
    font-family: "Akshar", "Segoe UI", sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: #e8a67c;
}

footer {
    text-align: center;
    font-size: 1.2rem;
}

footer>a {
    color: maroon;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.center {
    text-align: center;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
    position: relative;
}

.modal>.close-btn {
    position: absolute;
    top: 0rem;
    right: .5rem;
    font-size: 2rem;
    cursor: pointer;
}

.modal>.head {
    font-size: 1.6rem;
    text-align: center;
    padding: 0 0 1rem 0;
}

.input-col {
    display: flex;
    flex-direction: column;
    margin: .4rem 0;
}

.input-col>input {
    outline: none;
    font-size: 1.2rem;
    font-family: "Akshar", "Segoe UI", sans-serif;
    padding: .4rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.btn-row {
    display: flex;
    gap: .5rem;
    justify-content: center;
    padding: .4rem 0;
}

.btn-row>button {
    padding: .4rem;
    border-radius: .5rem;
    border: 0px;
    cursor: pointer;
    background-color: white;
    font-family: "Akshar", "Segoe UI", sans-serif;
    font-size: 1.2rem;
}

button.login-btn {
    text-decoration: underline;
}

button.register-btn {
    background-color: #41b3a3;
}

.modal>.body-text {
    padding: .4rem;
}

code {
    background-color: #aaaaaa;
    padding: .4rem;
}

table.link-table {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5rem;
    border-radius: .5rem;
    backdrop-filter: blur(8px);
    border-collapse: collapse;
    font-size: 1.2rem;
}

th {
    border-bottom: 1px solid black;
    padding: .5rem;
}

td {
    padding: .5rem;
}

tbody>tr:nth-child(2) {
    background-color: rgba(0, 0, 0, .2);
}

tbody>tr:last-child>td {
    border-bottom: 0px solid black;
}

td>a {
    color: rgb(15, 85, 155);
    text-decoration: none;
}